.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--color-fill-2);
    border: 1px solid var(--color-border);
}

.logo {
    height: 32px;
    margin: 12px 8px;
    background: rgba(255, 255, 255, 0.2);
    background: var(--color-fill-2);
    overflow: hidden;
}

.glass {
    filter: blue(80px);
    -webkit-filter: blue(80px);
}

.menu {
    width: 100%;
}

.HeaderBarRight {
    position: absolute;
    right: 5px;
}