.background {
    width: 100%;
    height: 102%;
    padding-top: 1%;
    margin: 0;
    background-color: #dcbce4;
    background-image:
        radial-gradient(closest-side, rgba(178, 175, 248, 1.0), rgba(34, 210, 196, 0.0)),
        radial-gradient(closest-side, rgba(162, 243, 237, 1.0), rgba(23, 21, 164, 0)),
        radial-gradient(closest-side, rgba(254, 248, 159, 1.0), rgba(254, 233, 147, 0.0)),
        radial-gradient(closest-side, rgb(186, 166, 219), rgba(170, 162, 245, 0)),
        radial-gradient(closest-side, rgba(85, 255, 255, 1.0), rgba(256, 192, 147, 0));
    background-repeat: no-repeat;
    animation: 6s movement linear infinite;
}

.background :after {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(40px);
}

@keyframes movement {

    0%,
    100% {
        background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
        background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
    }

    25% {
        background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax;
        background-position: -60vmax -90vmax, 10vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax;
    }

    50% {
        background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax;
        background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax;
    }

    75% {
        background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax;
        background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax;
    }
}